################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Photomeson-spectra/.vs/Photomeson-spectra/v15
